
.wholeForm {

    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 40px;
    padding-top:50px;

}

.form {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 35px 33px 35px 33px;
    width: 350px;
}

.formName {
    align-self: center;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.profileAvatar {
    width: 100px;
    height: 100px;
    position: relative;

}

.profileAvatar img {
    width: 96px;
    height: 96px;
    border-radius: 50px;
    position: absolute;
}

.profileNameContainer {
    display: flex;
    align-items: center;
    height: 60px;
}

.buttonPhoto {
    bottom: 0;
    right: 0;
    position: absolute;

}
.photoIcon {

    width: 32px;
    height: 32px;
    background: #808080;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 5px;
}


.profileName {

    font-weight: 600;
    font-size: 20px;
    margin-bottom: 14px;
    padding-top: 19px;
}

.profileEmail {
    color: #000000;
    opacity: 0.5;
    margin-bottom: 30px;

}

.profileInputContainer {
    position: relative;

    height: 60px;

}

.inputName {
    width: 350px;
}

.saveButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 290px;
    width: 52px;
    height: 24px;
    background: #366EFF;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;

}

.saveButton:disabled {
    position: absolute;
    top: 20px;
    left: 290px;
    width: 52px;
    height: 24px;
    background: #51535f;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;

}


.logOutButton {
    width: 127px;
    height: 36px;
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logOutButton img {
    margin-right: 5px;
}

