@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.header {
    /*position: absolute;*/
    z-index: 20;
    display: flex;
    height: 60px;
    width: 100%;
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    justify-content: space-around;
    align-items: center;
}


.logo {
    height: 48px;
}