.header{
    margin-bottom: 7px;

}
.activeButton{
    fill: #366EFF;
    background: #366EFF;
    color: white;
    border-radius: 30px;
    background-color: #b98686;

}
.button{
    background-color: #fff;
    color: #366EFF;
    width: 100px;
}