.input:focus {
    border: 1px solid #D1D1D1;
    outline:none;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #ff0000;

}

.errorInput:focus {
    outline:none;

    border: 1px solid #ff0000;

}

.error {
    color: #cc0000;
}
